/* ########################### desktop design starts####################################### */
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
    background-color: black;
    margin: 0;
    padding: 0;
}
.abovenav{
    background-color: #8112db;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 15px 8px;
    float: left;
}
.abovenav a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
.abovenav a.phone{
    margin-left: 30px;
}
.abovenav a.email{
    float: right;
    margin-right: 30px;
}

.navbar{
    display: block;
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    padding: 20px 10px;
    /* margin-bottom: 10px; */
    
}



.navbar a.lines{
    display: none;
}
.navbar div.navtab a.logotab{
    display: none;
}

.navbar a.logo{
    display: block;
    background-image: url("logoxs.png");  
    /* background-color: whitesmoke; */
    /* border-radius: 10px; */
    width: 198px;
    height: 99px;
    float: left;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* .navbar a.logo:hover{
    background-color: black;
} */

.navbar .navbar-right{
    display: block;
    float: right;
    padding-right: 20px;
    padding-top: 50px;
    
}

.navbar .navbar-right a{
    text-decoration: none;
    padding:15px;
    margin-right: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-transform: uppercase;

}

.navbar .navbar-right a:hover:not(:nth-child(1)){
    color: black;
    background-color: white;
}
.navbar .navbar-right a:hover:nth-child(1){
    color: black;
    background-color: red;
}

.content{
    /* display: block; */
    background-image: url("backimg.jpg");
    width: 100%;
    height: 100%;
    
}
.content .main-content{
    display: block;
    background-color: #000000;
    width: 80%;
    height: 1200px;
    box-shadow: 0 4px 0px 4px rgba(255, 0, 0,0.8);
    margin: auto;
    /* opacity: 85%; */
    padding: 10px;
    z-index: 1;
}
.content .main-content .content-image{
    width: 852px;
    height: 480px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    background-image: url("../content image above/content photo (1).jpg");
    background-size: 100% 100%;
    box-shadow: 0 4px 0px 4px rgba(177, 174, 174, 0.8);
    animation: slideshowabove 20s infinite linear;
}
@keyframes slideshowabove{
    0%{
        background-image: url("../content image above/content photo (2).jpg");
    }
    25%{
        background-image: url("../content image above/content photo (3).jpg");
    }
    50%{
        background-image: url("../content image above/content photo (4).jpg");
    }
    75%{
        background-image: url("../content image above/content photo (5).jpg");
    }
}

.content .main-content .content-row{
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: #000000;
    margin-top: 20px;
}

.content .main-content .content-row .content-row-left{
    display: block;
    width: 40%;
    height: 80%;
    overflow: hidden;
    background-color: #000000;
    font-size: 18px;
    /* padding:20px; */
    float: left;
    border:1px solid #ffffff;
    position: relative;
    margin-right: 10px;

}
.content .main-content .content-row .content-row-left .notice{
                   display: block;
                   position: absolute;
                   top: 0;
                   width: 100%;
                   text-align: center;
                   color: #ffffff;
                   background-color: rgb(243, 45, 10);
                   z-index: 1;
                   padding: 5px;
}
.content .main-content .content-row .content-row-left p{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding:0 70px 0 70px;
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    -moz-animation: slide-left 15s linear infinite;
    -webkit-animation: slide-left 15s linear infinite;
    animation: slide-left 15s linear infinite;
}
.content .main-content .content-row .content-row-left p a{
    display: block;
    /* padding-bottom: 5px; */
    color: #ffffff;
    line-height: 20px;
    font-size: 0.8em;
    text-decoration: none;
    border-bottom: 2px solid white;
}
.content .main-content .content-row .content-row-left p:hover{
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-moz-keyframes slide-left{
    0%{
             -moz-transform: translateY(100%);
    }
    100%{
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes slide-left{
    0%{
             -webkit-transform: translateY(100%);
    }
    100%{
        -webkit-transform: translateY(-100%);
    }
}
@keyframes slide-left{
    0%{
             -transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
.content .main-content .content-row .content-row-centre{
    display: block;
    width: 58%;
    height: 80%;
    background-color: rgb(0, 0, 0);
        border: 1px solid white;
    font-size: 18px;
    
    /* float: left; */
    /* margin-left: 20px; */
    overflow-y: scroll;
    
    
}
.content .main-content .content-row .content-row-centre div h3{
                   color: white;
                   text-align: center;
                   background-color:rgb(243, 45, 10);
                   margin: 0 0 15px 0;
                   padding:5px;
                   border-bottom:1px solid white;
}
.content .main-content .content-row .content-row-centre div p{
    color: #ffffff;
    margin: 0;
    text-align: center;
}
.content .main-content .content-row .content-row-right{
    display: block;
    width: 680px;
    height: 360px;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    background-image: url("../content image below/content photo (1).jpg");
    background-size: 100% 100%;
    box-shadow: 0 4px 0px 4px rgba(177, 174, 174, 0.8);
    animation: slideshowbottom 20s infinite linear;
}
@keyframes slideshowbottom{
    0%{
        background-image: url("../content image below/content photo (2).jpg");
    }
    25%{
        background-image: url("../content image below/content photo (3).jpg");
    }
    50%{
        background-image: url("../content image below/content photo (4).jpg");
    }
    75%{
        background-image: url("../content image below/content photo (5).jpg");
    }
}
.footer{
    display: inline-block;
    /* margin-top: 10px; */
    background-color: #121112;
    opacity: 90%;
    width: 100%;
    
}

.footer .footer-left{
    display: block;
    width: 33%;
    color: white;
    font-size: 18px;
    padding: 20px;
    float: left;
}
.footer .footer-left p.footer-left-p1{
    text-align: left;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0px;
    padding: 5px;
    border-bottom: 5px solid red;
}
/* .footer .footer-left p.footer-left-p1:hover{
    border-bottom: 5px solid yellow;
} */

.footer .footer-left p.address{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}
.footer .footer-left a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.96em;
    line-height: 1.7;
}

.footer .footer-centre{
    /* display: inline-block; */
    width: 33%;
    color: white;
    
    padding: 20px;
    float: left;
    position: relative;
}

.footer .footer-centre p.footer-centre-p1{
    text-align: left;
    font-size: 1.6em;
    font-weight: 500;
    margin: 0px;
    padding: 5px;
    border-bottom: 5px solid red;
}
.footer .map-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    
}
.footer .map-container .map{
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         border: none;
}
.footer .footer-right{
    width: 33%;
    height: 100%;
    color: white;
    
    padding: 10px;
    float: right;
}
.footer .footer-right p.footer-right-p1{
    text-align: left;
    font-size: 1.6em;
    font-weight: 500;
    margin: 0px;
    padding: 5px;
    border-bottom: 5px solid red;
}
.footer .footer-right div.social{
    /* display: block; */
    width: 100%;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: left;
    /* border-bottom: 5px solid red; */
}
.footer .footer-right .social a{
          text-decoration: none;
          margin-right: 20px;
    
}
.footer .footer-right .mydetails{
    width: 100%;
    /* margin-top: 10px; */
    padding: 0px;
    
}
.footer .footer-right .mydetails p.designedby{
       font-size: 1.2em;
       font-weight: 500;
       text-align: left;
       margin: 0px;
       padding-bottom: 7px;
       border-bottom: 5px solid red;
}
.footer .footer-right .mydetails p.myname{
    padding-top: 10px;
    font-size: 1em;
       margin: 0px;
       padding-bottom: 10px;
}
.footer .footer-right .mydetails .mysocial a{
    text-decoration: none;
    margin-right: 15px;
    text-align: center;
   
}
.copyright{
    display: block;
    background-color: #121112;
    opacity: 90%;
    width: 100%;
    margin: auto;
    padding: 4px;
    
    
}
.copyright p{
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    color: white;
}
/* ################################ desktop design ends ########################### */

/*##########################Tablet design starts#############################*/

@media screen  and (min-width:576px) and (max-width:910px){
   
    .abovenav a{
        text-decoration: none;
        color:white;
        font-size: 14px;
        font-weight: bold;
    }
    .abovenav a.phone{
        margin-left: 15px;
    }
    .abovenav a.email{
        float: right;
        margin-right: 15px;
    }
    
    .navbar a.logo{
        display: none;
    }

    .navbar div.navtab a.logotab{
        display:block;
        background-image: url("logoxs.png");  
        /* background-color: whitesmoke; */
        /* border-radius: 10px; */
        width: 198px;
        height: 99px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    /* .navbar div.navtab a.logotab:hover{
        background-color: black;
    } */
    .navbar .navbar-right{
        display: flex;
        justify-content: center;
        float: none;
        
       }

    .navbar .navbar-right a{
       margin-right: 5px;
       text-align: center;
       font-size: 12px;
       padding: 10px;
       
    
    }
    .content .main-content{
        height: 1100px;
    }
    .content .main-content .content-image{
              width: 100%;
              height: 360px;
             
    }
   
    .content .main-content .content-row{
        display: inline-block;
        width: 100%;
        height: 330px;
        background-color: #000000;
        margin-top: 20px;
    }
    
    .content .main-content .content-row .content-row-left{
        display: block;
        width: 50%;
        height: 100%;
        background-color: #000000;
        font-size: 18px;
        /* padding:20px; */
        float: left;
    
    }
    .content .main-content .content-row .content-row-centre{
        display: block;
        width: 48%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        border: 1px solid white;
        font-size: 18px;
        padding: 5px;
        /* float: right; */
        
        
    }
    .content .main-content .content-row .content-row-right{
        display: block;
        width: 80%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        border: 1px solid white;
        padding: 5px;
        /* float: left; */
        
    }
    
    .footer .footer-left{
        /* display: block; */
        width: 33%;
        color: white;
        font-size: 14px;
        padding: 20px;
        float: left;
    }
    .footer .footer-left p.footer-left-p1{
        text-align: left;
        font-size: 1.3em;
        font-weight: 500;
        margin: 0px;
        padding: 5px;
        border-bottom: 5px solid red;
    }
    /* .footer .footer-left p.footer-left-p1:hover{
        border-bottom: 5px solid yellow;
    } */
    
    .footer .footer-left p.address{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
    }
    .footer .footer-left a{
        text-decoration: none;
        color: #ffffff;
        font-size: 0.96em;
    }

   
}

/*########################## Tablet design Ends #############################*/

/*############################# Mobile design start ###############################*/

@media screen and (min-width:320px) and (max-width:575px){
    .abovenav a{
        text-decoration: none;
        color:white;
        font-size: 14px;
        font-weight: bold;
    }
    .abovenav a.phone{
        margin-left: 0px;
    }
    .abovenav a.email{
        float: right;
        margin-right: 0px;
    }
    
    .navbar .navbar-right{
        display: none;
    }
    
    .navbar div.navtab{
        display: none;
    }
    .navbar .navbar-right a{
        display: none;
    }
    /* .navbar a.logo{
        border-bottom: 1px solid black;
    } */
    .navbar a.lines{
        display: block;
        float: right;
        font-size: 30px;
        text-decoration: none;
        padding-top: 15px;
        color: black;
        padding-bottom: 20px;
    }
    .navbar a.lines:hover:active:visited:link{
        color: none;
    }
    .navbar .responsive{
        display: block;
        float: none;
        margin-top: 60px;
    }
    .navbar .responsive a{
        display: block;
        text-decoration: none;
        padding:15px;
        margin-bottom: 5px;
        color: white;
        background-color: black;
        opacity: 80%;
        border-radius: 10px;
        text-transform: uppercase;
        
    }
    .content .main-content{
        width: 90%;
        height: 100%;
    }
    .content .main-content .content-image{
       width: 100%;
        height: 220px;
    
   
     }
    .content .main-content .content-row{
        display: inline-block;
        width: 100%;
        height: auto;
        /* background-color: #ffffff; */
        margin-top: 20px;
    }
    
    .content .main-content .content-row .content-row-left{
        display: block;
        width: 100%;
        height: 230px;
        /* background-color: lawngreen; */
        font-size: 18px;
        /* padding:20px; */
        margin-bottom: 5px;
        /* float: left; */
    
    }
    .content .main-content .content-row .content-row-centre{
        display: block;
        width: 100%;
        height: 240px;
        margin-top: 5px;
        background-color: rgb(0, 0, 0);
        border: 1px solid white;
        font-size: 18px;
        padding: 5px;
        /* float: left; */
        
        
    }
    .content .main-content .content-row .content-row-right{
        display: block;
        width: 100%;
        height: 200px;
        margin-top: 5px;
        background-color: rgb(0, 0, 0);
        border: 1px solid white;
        padding: 5px;
        /* float: left; */
        
    }
    .content .main-content .content-row .content-row-left p:hover{
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
    
    .footer .footer-left{
        /* display: block; */
        width: 100%;
        color: white;
        font-size: 14px;
        padding: 20px;
        margin: auto;
        text-align: center;
        float: none;
    }
    .footer .footer-left p.footer-left-p1{
        text-align: inherit;
        font-size: 1.3em;
        font-weight: 500;
        margin: 0px;
        padding: 5px;
        border-bottom: 5px solid red;
    }
    /* .footer .footer-left p.footer-left-p1:hover{
        border-bottom: 5px solid yellow;
    } */
    
    .footer .footer-left p.address{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
    }
    .footer .footer-left a{
        text-decoration: none;
        color: #ffffff;
        font-size: 0.96em;
    }

    .footer .footer-centre{
        /* display: inline-block; */
        width: 100%;
        color: white;
        margin: auto;
        padding: 20px;
        float: none;
        position: relative;
        text-align: center;
    }
    
    .footer .footer-centre p.footer-centre-p1{
        text-align: inherit;
        font-size: 1.6em;
        font-weight: 500;
        margin: 0px;
        padding: 5px;
        border-bottom: 5px solid red;
    }
    .footer .map-container{
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
        
    }
    .footer .map-container .map{
             position: absolute;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             width: 100%;
             height: 100%;
             border: none;
    }

    .footer .footer-right{
        width: 100%;
        color: white;
        margin: auto;
        padding: 20px;
        float: none;
        text-align: center;
    }
    .footer .footer-right p.footer-right-p1{
        text-align: inherit;
        font-size: 1.6em;
        font-weight: 500;
        margin: 0px;
        padding: 5px;
        border-bottom: 5px solid red;
    }
    .footer .footer-right div.social{
        text-align: center;
    }
    .footer .footer-right .mydetails p.designedby{
        text-align: center;
    }
    /* .footer .footer-right p.myname{
        text-align: inherit;
        font-size: 1.2em;
        font-weight: 300;
        margin: 0;
        padding: 10px;
    } */
}

/*############################# Mobile design end ###############################*/
