/* ########################### desktop design starts####################################### */
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
    margin: 0;
    padding: 0;
}
.abovenav{
    background-color: #8112db;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 15px 8px;
    float: left;
}
.abovenav a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
.abovenav a.phone{
    margin-left: 30px;
}
.abovenav a.email{
    float: right;
    margin-right: 30px;
}

.navbar{
    display: block;
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 10px;
    
}



.navbar a.lines{
    display: none;
}
.navbar div.navtab a.logotab{
    display: none;
}

.navbar a.logo{
    display: block;
    background-image: url("logoxs.png");  
    /* background-color: whitesmoke; */
    /* border-radius: 10px; */
    width: 198px;
    height: 99px;
    float: left;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* .navbar a.logo:hover{
    background-color: black;
} */

.navbar .navbar-right{
    display: block;
    float: right;
    padding-right: 20px;
    padding-top: 50px;
    
}

.navbar .navbar-right a{
    text-decoration: none;
    padding:15px;
    margin-right: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-transform: uppercase;

}

.navbar .navbar-right a:hover:not(:nth-child(1)){
    color: black;
    background-color: white;
}
.navbar .navbar-right a:hover:nth-child(1){
    color: black;
    background-color: red;
}

.content{
    display: block;
    background-image: url("backimg.jpg");
    width: 100%;
    height: 840px;
    padding-top: 10px;
    
   
}
.content .main-content{
    
    background-color: #ffffff;
    width: 80%;
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    
}
.footer{
    display: block;
    margin-top: 10px;
    background-color: #121112;
    opacity: 90%;
    width: 100%;
    
}
.footer .footer-left{
    display: block;
    width: 33%;
    color: white;
    font-size: 18px;
    padding: 20px;
}
.footer .footer-left p.footer-left-p1{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    border: #ffffff;
    margin: 0;
}
.footer .footer-left p.footer-left-p2{
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    box-shadow: 0 0 0 0;
    border-bottom: 5px #ffffff;
    margin: 0;
    padding-top: 10px;
}

/* ################################ desktop design ends ########################### */

/*##########################Tablet design starts#############################*/

@media screen  and (min-width:576px) and (max-width:910px){
   
    .abovenav a{
        text-decoration: none;
        color:white;
        font-size: 14px;
        font-weight: bold;
    }
    .abovenav a.phone{
        margin-left: 15px;
    }
    .abovenav a.email{
        float: right;
        margin-right: 15px;
    }
    
    .navbar a.logo{
        display: none;
    }

    .navbar div.navtab a.logotab{
        display:block;
        background-image: url("logoxs.png");  
        /* background-color: whitesmoke; */
        /* border-radius: 10px; */
        width: 198px;
        height: 99px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    /* .navbar div.navtab a.logotab:hover{
        background-color: black;
    } */
    .navbar .navbar-right{
        display: flex;
        justify-content: center;
        float: none;
        
       }

    .navbar .navbar-right a{
       margin-right: 5px;
       text-align: center;
       font-size: 12px;
       padding: 10px;
       
    
    }
    
}

/*########################## Tablet design Ends #############################*/

/*############################# Mobile design start ###############################*/

@media screen and (min-width:320px) and (max-width:575px){
    .abovenav a{
        text-decoration: none;
        color:white;
        font-size: 14px;
        font-weight: bold;
    }
    .abovenav a.phone{
        margin-left: 10px;
    }
    .abovenav a.email{
        float: right;
        margin-right: 10px;
    }
    
    .navbar .navbar-right{
        display: none;
    }
    
    .navbar div.navtab{
        display: none;
    }
    .navbar .navbar-right a{
        display: none;
    }
    /* .navbar a.logo{
        border-bottom: 1px solid black;
    } */
    .navbar a.lines{
        display: block;
        float: right;
        font-size: 30px;
        text-decoration: none;
        padding-top: 15px;
        color: black;
        padding-bottom: 20px;
    }
    .navbar a.lines:hover:active:visited:link{
        color: none;
    }
    .navbar .responsive{
        display: block;
        float: none;
        margin-top: 60px;
    }
    .navbar .responsive a{
        display: block;
        text-decoration: none;
        padding:15px;
        margin-bottom: 5px;
        color: white;
        background-color: black;
        opacity: 80%;
        border-radius: 10px;
        text-transform: uppercase;
        
    }
}

/*############################# Mobile design end ###############################*/
